.main {
    background-color: rgb(275, 275, 275);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: column;
    height: 13%;
    width: 100%;
    background-color: gray;
    box-shadow: 0 2px 5px 0px rgba(100,100,100,.8);

    .header-option-bar {
        display: flex;
        flex-direction: row;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
        padding: 0 10px 0 10px;

        .homepage-button {
            flex: 1;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .auth-button {
            display: flex;
        }
    }
}