.image-card {
    width: 50%;
    height: 20%;
}

.page-title-container {
    margin: 2rem;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 0;
    }
}

.button {
}


